body{
    background: #15243a;

}
.content{
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}
#title{
    color:#fff;
    font-weight: bold;
}

.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img{
    width: 40px;
    height: 40px;
}

.chat{
    height: 100%;
    width: 400px;
    background: rgb(16, 39, 66);
    border-radius: 10px;
    color:#fff;
    overflow: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 30px 1fr;
}
.chat::-webkit-scrollbar {
    display: none}

.chat p{
    color: #ecc57d;
    display: grid;
    align-items: center;
    background: #1c2c4d;
    border-radius: 3px;
    grid-template-columns: 1fr 1fr 4fr;
    grid-gap: 1px;
    height: 100%;
    max-height: 100px;
}

.chat p>span{
    color:#fff;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
}
.chat_title{
    width: 100%;
    background: #1d2b4b;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.chat_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding: 5px;
    max-height: 65px;
}
p .chat_itemName {
    margin-left: 5px;
    font-weight: bold;
}

/*p{*/
/*    color: #52ff7a;*/
/*}*/

.itemlist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    padding: 5px;
    flex-wrap: wrap;
    background: #1d2b4b;
    max-width: 310px;
}
.itemlist img{
    background: url("assets/image/bg.png");
    background-size: cover;
    padding: 2px;
}
.itemlist_conteiner{
    position: relative;
}
.itemlist_counter{
    position: absolute;
    color:#fff;
    left:3px;
    bottom:3px;
    text-shadow: 1px 1px 5px  #111;

}
.itemlist_title{
    position: relative;
    color:#fff;
    font-weight: bold;
}
.itemlist::-webkit-scrollbar { width: 0; }
.hidden_item_name{
    display: none;
    background: grey;
    width: 200px;
    position: absolute;
    left: 40px;
    top:0;
    padding: 4px;
    border-radius: 2px;
    border:1px solid #fff;
    z-index: 2;
}
.itemlist_title:hover .hidden_item_name{
    display: block;
}

.counter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
    color:#fff;
    grid-gap: 5px;
    width: 100%;
}
.btn{
    padding: 10px;
    border:none;
    color:#fff;
    border-radius: 3px;
    background: #1d2b4b;
    cursor: pointer;
}

.open_container{
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    grid-template-rows: 3fr 1fr;
}

.open_block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.profit_block{
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr 1fr 1fr;
    flex-wrap: wrap;
    grid-gap: 5px;
}